@import 'styles/variables.scss';

.tabs {
    position: relative;
    border-bottom: 1px solid;
    border-color: rgba($primary-color, 0.5);
}

.list {
    display: flex;
}

.indicator {
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: left, max-width, opacity;
    transition-duration: $base-transition-duration;

    max-width: 100%;
    width: 100%;
    height: 3px;

    background-color: $primary-color;
    opacity: 0.75;

    &--active {
        max-width: $tab-width;
        opacity: 1;
    }
}
