@import 'styles/variables.scss';

.message {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: $spacing-1;
    border-radius: 2rem;
    color: var(--background);

    &--admin {
        padding-right: $spacing-2;
        border-bottom-left-radius: 0;
        background-color: var(--middle-color);

        .remove-button {
            margin-left: $spacing-1;
        }
    }

    &--user {
        flex-direction: row-reverse;
        padding-left: $spacing-2;
        border-bottom-right-radius: 0;
        background-color: var(--foreground);

        .remove-button {
            margin-right: $spacing-1;
        }
    }

    &:hover {
        .remove-button {
            opacity: 1;
        }
    }
}

.avatar {
    flex-shrink: 0;
    background-color: var(--foreground);
    margin-right: $spacing-3;
}

.text {
    transform: translateY(-0.05rem);
}

.remove-button {
    opacity: 0;
    padding: $spacing-1;

    &:hover,
    &:focus,
    &:focus-visible {
        opacity: 1;

        svg {
            fill: var(--background);
        }
    }
}
