@import 'styles/variables.scss';

.message {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: $spacing-1;
    border-radius: 2rem;
    color: var(--background);

    &--admin {
        border-bottom-left-radius: 0;
        background-color: var(--middle-color);

        .remove-button,
        .retry-button {
            svg {
                fill: var(--middle-color);
            }
        }
    }

    &--user {
        justify-self: flex-end;
        align-self: flex-end;
        padding-left: $spacing-4;
        border-bottom-right-radius: 0;
        background-color: var(--foreground);
    }

    &:hover {
        .remove-button {
            opacity: 1;
        }
    }

    &--error {
        .remove-button {
            opacity: 1;
        }
    }
}

.avatar {
    flex-shrink: 0;
    background-color: var(--foreground);
    margin-right: $spacing-3;

    @media (max-width: $screen-sm) {
        width: 2.5rem !important;
        height: 2.5rem !important;
        margin-right: $spacing-2;
    }
}

.text-skeleton {
    flex-grow: 0.95;
    justify-self: stretch;
    flex-shrink: 0;
    border-radius: $border-radius;
}

.text {
    overflow: auto;
    transform: translateY(-0.05rem);
    white-space: pre-line;

    &--error {
        color: var(--error);
    }

    @media (max-width: $screen-sm) {
        text-wrap: balance;
    }
}

.retry-button,
.remove-button {
    background-color: var(--background-opacity);
    margin-left: $spacing-3;
    padding: $spacing-2;
    border: none;

    @media (max-width: $screen-md) {
        margin-left: $spacing-2;
        padding: $spacing-1;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        border: none;

        svg {
            fill: var(--background);
        }
    }
}

.remove-button {
    opacity: 0;

    &:hover,
    &:focus,
    &:focus-visible {
        opacity: 1;
    }
}
