@import 'styles/variables.scss';

.message {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: $spacing-1;
    border-radius: 2rem;
    color: var(--background);

    @media (max-width: $screen-md) {
        padding: $spacing-1 $spacing-4;
        padding-right: $spacing-0-5;
    }

    &--admin {
        border-bottom-left-radius: 0;
        background-color: var(--middle-color);

        .remove-button,
        .retry-button {
            svg {
                fill: var(--middle-color);
            }
        }

        .open-menu-button {
            svg {
                fill: var(--foreground);
            }
        }
    }

    &--user {
        justify-self: flex-end;
        align-self: flex-end;
        padding-left: $spacing-4;
        border-bottom-right-radius: 0;
        background-color: var(--foreground);

        .open-menu-button {
            svg {
                fill: var(--middle-color);
            }
        }
    }

    &:hover {
        .remove-button {
            opacity: 1;
        }
    }

    &--error {
        .remove-button {
            opacity: 1;
        }
    }
}

.avatar {
    flex-shrink: 0;
    background-color: var(--foreground);
    margin-right: $spacing-3;

    @media (max-width: $screen-md) {
        display: none;
    }
}

.text-skeleton {
    flex-grow: 0.95;
    justify-self: stretch;
    flex-shrink: 0;
    border-radius: $border-radius;
}

.text {
    overflow: auto;
    transform: translateY(-0.05rem);
    white-space: pre-line;
    text-wrap: pretty;

    &--error {
        color: var(--error);
    }

    @media (max-width: $screen-md) {
        font-size: 0.875rem;
    }
}

.retry-button,
.remove-button {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    background-color: var(--background-opacity);
    margin-left: $spacing-3;
    padding: $spacing-2;
    border: none;

    &:hover,
    &:focus,
    &:focus-visible {
        border: none;

        svg {
            fill: var(--background);
        }
    }

    @media (max-width: $screen-lg) {
        display: none;
    }
}

.retry-button {
    position: relative;

    &__icon-wrapper {
        position: absolute;
    }
}

.remove-button {
    opacity: 0;

    &:hover,
    &:focus,
    &:focus-visible {
        opacity: 1;
    }
}

.open-menu-button {
    border: none;
    padding: $spacing-0-5;

    &:hover,
    &:focus,
    &:focus-visible {
        border: none;

        svg {
            fill: var(--background);
        }
    }
}

.button-action {
    height: 2.25rem;
    padding: $spacing-0-5;
    border: none;
}

.retry-button-action {
    svg {
        translate: 0.3rem 0;
    }
}

.copy-button-action {
    svg {
        translate: 0.2rem 0;
    }
}

.menu-actions {
    button {
        justify-content: space-between;
    }

    &--active {
    }

    &--first {
    }

    &--last {
    }

    &--admin {
    }

    &--user {
    }
}
