@import 'styles/variables.scss';

@mixin hidden-animated-element(
    $duration: $base-transition-duration,
    $transition-function: ease
) {
    visibility: hidden;
    opacity: 0;
    transition: opacity $duration, visibility 0s $duration;
    transition-timing-function: $transition-function;
}

@mixin visible-animated-element() {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
