@import 'styles/variables.scss';

.skeleton {
    --skeleton-color: var(--middle-color);
    --loader-width: 60%;

    position: relative;
    background-color: var(--skeleton-color);
    overflow: hidden;
    border-radius: $border-radius;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        min-width: 1.25rem;
        width: var(--loader-width);
        height: 100%;
        background: linear-gradient(
            90deg,
            var(--skeleton-color) 0%,
            var(--foreground) 50%,
            var(--skeleton-color) 100%
        );

        animation-name: loading;
        animation-duration: $base-animation-duration;
        animation-timing-function: $base-animation-function;
        animation-iteration-count: infinite;
    }

    &::after {
        left: calc(-1 * var(--loader-width));
        animation-delay: 700ms;
    }
}

@keyframes loading {
    0% {
        left: calc(-1 * var(--loader-width));
    }
    100% {
        left: calc(2 * var(--loader-width));
    }
}
