@import 'styles/variables.scss';

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    border: $border-width var(--foreground) solid;
    overflow: hidden;

    animation-name: chat-appear;
    animation-duration: 0.5s;
    animation-timing-function: $base-animation-function;
    animation-fill-mode: forwards;

    &--disabled {
        pointer-events: none;
        animation-name: chat-disappear;
        animation-duration: 0.3s;
    }
}

.message-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    overflow-y: auto;
    padding: $spacing-3;

    @media (max-width: $screen-md) {
        padding: $spacing-3;
    }

    @media (max-width: $screen-sm) {
        padding: $spacing-1;
    }
}

.message {
    max-width: 85%;
    animation-duration: $base-transition-duration;
    animation-timing-function: $base-animation-function;
    animation: message-appear $base-transition-duration $base-animation-function;
    transition: all $base-transition-duration $base-animation-function;

    &--removing {
        opacity: 0;
    }

    &--loading {
        width: 85%;
    }

    &--admin {
        animation-name: admin-message-appear;

        &.message--removing {
            translate: -10% 0;
        }
    }

    &--user {
        animation-name: user-message-appear;

        &.message--removing {
            translate: 10% 0;
        }
    }

    @media (max-width: $screen-sm) {
        max-width: 100%;
    }
}

.send-message-field {
    flex-shrink: 0;
}

@keyframes chat-appear {
    0% {
        border-radius: 50%;
        scale: 0.01;
    }

    100% {
        border-radius: $border-radius;
        scale: 1;
    }
}

@keyframes chat-disappear {
    0% {
        border-radius: $border-radius;
        scale: 1;
    }

    99% {
        opacity: 1;
        border-radius: 50%;
        scale: 0.01;
    }

    100% {
        opacity: 0;
    }
}

@keyframes admin-message-appear {
    0% {
        opacity: 0;
        translate: -10% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes user-message-appear {
    0% {
        opacity: 0;
        translate: 10% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}
