@import 'styles/variables.scss';

$default-spacing-md: $spacing-4;
$default-spacing-sm: $spacing-3;

.chat {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    min-height: 25rem;
    padding: $default-spacing-md;
    border: $border-width var(--foreground) solid;
    overflow: hidden;

    animation-name: chat-appear;
    animation-duration: 0.5s;
    animation-timing-function: $base-animation-function;
    animation-fill-mode: forwards;

    &--disabled {
        pointer-events: none;
        animation-name: chat-disappear;
        animation-duration: 0.3s;
    }

    @media (max-width: $screen-md) {
        padding: $default-spacing-sm;
    }

    @media (max-width: $screen-sm) {
        padding: $spacing-1;
    }
}

.message {
    max-width: 85%;

    @media (max-width: $screen-sm) {
        max-width: 100%;
    }
}

@keyframes chat-appear {
    0% {
        border-radius: 50%;
        scale: 0.01;
    }

    100% {
        border-radius: $border-radius;
        scale: 1;
    }
}

@keyframes chat-disappear {
    0% {
        border-radius: $border-radius;
        scale: 1;
    }

    99% {
        opacity: 1;
        border-radius: 50%;
        scale: 0.01;
    }

    100% {
        opacity: 0;
    }
}
