@import 'styles/variables.scss';
@import 'styles/extends.scss';

.main {
    height: 100vh;
}

.header-spacing {
    @extend .header-spacing-extend;
}

.sidebar-layout {
    @extend .sidebar-layout-extend;
}

.animated-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: animated-page $base-animation-duration $base-animation-function;

    & > * {
        animation: animated-page-children $base-animation-duration
            $base-animation-function;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        background-color: var(--foreground);
        animation: animated-page-before $base-animation-duration
            $base-animation-function forwards;
    }
}

@keyframes animated-page {
    0% {
        transform: scaleY(1);
    }

    70% {
        transform: scaleY(1);
    }

    71% {
        transform: scaleY(0.002);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes animated-page-children {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    71% {
        opacity: 0;
    }

    72% {
        opacity: 1;
    }

    90% {
        pointer-events: auto;
    }
}

@keyframes animated-page-before {
    0% {
        height: 1px;
        left: 50%;
        right: 50%;
    }

    70% {
        height: 1px;
        left: 0;
        right: 0;
    }

    71% {
        height: 0;
        left: 0;
        right: 0;
    }
}
