@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.tabs-paper {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
}

.tabs-content {
    $hide-tab-duration: 600ms;

    position: relative;
    display: flex;
    gap: $default-spacing-md;
    height: 100%;
    transform: translateX(0);
    transition: transform calc(#{$base-transition-duration} * 2)
        $base-animation-function;

    .suggester-page {
        @include visible-animated-element();
    }

    .help-page {
        @include hidden-animated-element($hide-tab-duration);
    }

    &--shifted {
        transform: translateX(calc(#{$default-spacing-md} * -1 - 100%));

        .suggester-page {
            @include hidden-animated-element($hide-tab-duration);
        }

        .help-page {
            @include visible-animated-element();
        }
    }

    & > * {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        padding: $default-spacing-md;
        overflow-y: auto;
    }

    @media (max-width: $screen-md) {
        gap: $default-spacing-sm;

        &--shifted {
            transform: translateX(calc(#{$default-spacing-sm} * -1 - 100%));
        }

        & > * {
            padding: $default-spacing-sm;
        }
    }

    @media (max-width: $screen-sm) {
        & > * {
            padding: $default-spacing-xs;
        }
    }
}
