@import 'styles/variables.scss';

.empty-state {
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    padding: $spacing-3;
    border-radius: $border-radius;
    background-color: var(--middle-color);

    @media (max-width: $screen-lg) {
        padding: $spacing-3;
    }
}

.title,
.description {
    text-align: center;
    color: var(--background);
}

.action-wrapper {
    display: flex;
    justify-content: center;
}
