@import 'styles/variables.scss';

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-1;
    width: fit-content;
    min-height: 2.75rem;
    padding: $spacing-1 $spacing-3;
    border-radius: $border-radius-xl;

    &--contained {
        background-color: var(--middle-color);
        color: var(--background);
    }

    &--outlined {
        border: solid $border-width var(--foreground-opacity);
    }

    &--small {
        min-height: 2rem;
        padding: $spacing-0-5 $spacing-1;
    }

    &--big {
        min-height: 3.25rem;
        padding: $spacing-2 $spacing-4;
    }
}

.delete-button {
    flex-shrink: 0;
    padding: $spacing-0-5;

    svg {
        fill: var(--background);
    }
}
