@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.tooltip {
    position: relative;
    z-index: $zindex-tooltip;
    width: fit-content;
    height: fit-content;
}

.text {
    --background-color: var(--foreground-opacity);
    --arrow-size: 0.4rem;
    --vertical-distance: 105%;
    --horizontal-distance: 110%;

    @include hidden-animated-element();

    position: absolute;
    width: max-content;
    max-width: 12.5rem;
    height: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: $border-radius-md;
    text-align: center;
    color: var(--background);
    background-color: var(--background-color);

    &--open {
        @include visible-animated-element();
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
    }

    &--bottom,
    &--top {
        left: 50%;
        translate: -50% 0;

        &::before {
            left: 50%;
            border-left: var(--arrow-size) solid transparent;
            border-right: var(--arrow-size) solid transparent;
        }
    }

    &--bottom {
        top: var(--vertical-distance);

        &::before {
            top: 0;
            border-bottom: var(--arrow-size) solid var(--background-color);
            translate: -50% -100%;
        }
    }

    &--top {
        bottom: var(--vertical-distance);

        &::before {
            bottom: 0;
            border-top: var(--arrow-size) solid var(--background-color);
            translate: -50% 100%;
        }
    }

    &--left,
    &--right {
        top: 50%;
        translate: 0 -50%;

        &::before {
            top: 50%;
            border-top: var(--arrow-size) solid transparent;
            border-bottom: var(--arrow-size) solid transparent;
        }
    }

    &--left {
        right: var(--horizontal-distance);

        &::before {
            right: 0;
            border-left: var(--arrow-size) solid var(--background-color);
            translate: 100% -50%;
        }
    }

    &--right {
        left: var(--horizontal-distance);

        &::before {
            left: 0;
            border-right: var(--arrow-size) solid var(--background-color);
            translate: -100% -50%;
        }
    }
}
