@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.accordion {
    --border: $border-width solid var(--foreground-invisible);

    transition: all $base-transition-duration;

    &--open {
        border-radius: $border-radius-md;
    }

    &:not(:last-child) {
        margin-bottom: $default-spacing-sm;
    }

    &--spaced {
        &.accordion--open {
            padding: $default-spacing-sm;
            margin-bottom: 0;
        }
    }

    &--open.accordion--spaced {
        margin-block: $default-spacing-sm;
        border: var(--border);
        box-shadow: var(--box-shadow-sm);
    }

    &:has(+ .accordion--open) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &--open + &--open {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: margin $base-transition-duration;

    &--open {
        margin-bottom: $default-spacing-sm;
    }
}

.button {
    &--open {
        transform: rotate(180deg);
    }
}

.content {
    @include hidden-animated-element();

    max-height: 31.25rem;
    overflow-y: auto;
    transition: opacity $base-transition-duration,
        height $base-transition-duration,
        visibility 0s $base-transition-duration;

    &--open {
        @include visible-animated-element();
    }
}
